//- content structure
#content.summary
    include ../summaryframemodule/summaryframe.pug
    include ../currencytrendframemodule/currencytrendframe.pug
    include ../seasonalityframemodule/seasonalityframe.pug
    include ../eventscreenerframemodule/eventscreenerframe.pug
    include ../forexscreenerframemodule/forexscreenerframe.pug
    include ../trafficlightframemodule/trafficlightframe.pug
    include ../accountframemodule/accountframe.pug