//- content structure
#content.summary
    include ../summaryframemodule/summaryframe.pug
    include ../currencytrendframemodule/currencytrendframe.pug
    include ../seasonalityframemodule/seasonalityframe.pug
    include ../accountframemodule/accountframe.pug