// content styles
#content
    background-color transparent
    padding-top: mobile-header-height
    margin-left 15px
    width = calc(100% - 15px)

@media desktopscreen
    #content
        padding-top: header-height
        margin-left side-nav-width
        width = calc(100% - side-nav-width)


#content > *
    display none 

#content.hidden
    display none

#content.summary
    #summaryframe
        display block

#content.currencytrend
    #currencytrendframe
        display block

#content.seasonality
    #seasonalityframe
        display block

#content.eventscreener
    #eventscreenerframe
        display block

#content.forexscreener
    #forexscreenerframe
        display block

#content.optionscreener
    #optionscreenerframe
        display block

#content.sectorrotation
    #sectorrotationframe
        display block

#content.trafficlight
    #trafficlightframe
        display block

#content.partners
    #partnersframe
        display block

#content.account
    #accountframe
        display block
