// content styles
#content
    background-color transparent
    margin-left side-nav-width
    width = calc(100% - side-nav-width)
    
#content > *
    display none 

#content.summary
    #summaryframe
        display block

#content.currencytrend
    #currencytrendframe
        display block
