//- noaccount structure
#noaccountframe

    #introduction-section
        h1 Der EWAG Sentinel<br>Die Power Software zur Marktanalyse in einem einzigen Tool
        p Der Sentinel ist Dein strategischer Vorteil im Markt. Er vereint Makrodaten, COTs, Saisonalität, Marktstimmung und konkrete Empfehlungen in einer zentralen Plattform. Kompakt, intelligent und zeitschonend. Geradezu ideal auch für Berufstätige.
        p Statt Daten mühsam aus unterschiedlichen Quellen zu sammeln, liefert der Sentinel klare Setups, präzise Opportunitäten und sofort erkennbare Chancen in einer einzigen Plattform. Er zeigt Dir, was wirklich wichtig ist, filtert Unnötiges heraus und bringt Dich schneller zu besseren, reproduzierbaren Entscheidungen.

        video#tutorial-video(src="/video/tutorial.mp4")

        p Mehr Überblick. Mehr Effizienz. Mehr Edge.<br>Der Sentinel ist nicht nur ein Tool, er ist dein Vorsprung im Markt.
    
    #login-register-section.login
        #login-register-tabs 
            button#login-button.click-button Einloggen
            button#register-button.click-button Registrieren
        form#login-register-form
            label(for="email-input") Emailadresse
            input#email-input(type="email" required placeholder="m.mustermann@sentinel.de" autocomplete="email")
            label#password-label(for="password-input") Passwort
            input#password-input(type="password" required placeholder="**********" autocomplete="current-password")
            button#submit-button.click-button(type="submit") Abschicken

        #feedback
            #login-failure 
                p Mit Ihren Angaben ist kein Login Möglich, bitte überprüfen Sie Ihre Emailadresse und Passwort auf Korrektheit und versuchen es erneut, oder fordern Sie ein neues Passwort für diese Emailadresse an.
                button#password-reset-button.click-button Neues Passwort setzen
            p#password-reset-failure Mit dieser Emailaddresse ist es nicht möglich ein Passwort zu setzen oder sich zu Registrieren, bitte überprüfen Sie Ihre angegebene Emailadresse!
            p#password-reset-success Sie sollten nun eine Email bekommen.<br>Darin erhalten Sie einen Link, über welchen Sie Ihr Passwort neu setzen können.<br>Falls Sie keine Email bekommen haben, überprüfen Sie bitte auch den Spamorder, oder versuchen Sie sich zuerst zu registrieren.
            p#register-failure Mit dieser Emailaddresse ist keine Registrierung möglich, bitte überprüfen Sie Ihre angegebene Emailadresse!
            p#register-success Sie sollten nun eine Email bekommen.<br>Darin erhalten Sie einen Link, über welchen Sie Ihr Passwort setzen können.
