//- noaccount structure
#noaccountframe

    #introduction-section
        h1 Der Sentinel der EWAG Handelssysteme UG
        p Hier steht dann eine textuelle Einführung des Sentinels und eine kurze Erklärung der Features. 
        p Für einen genaueren Einblick in, wie Sie den Sentinel verwenden können gibt es hier ein Einführungsvideo:

        video#tutorial-video(src="/video/tutorial.mp4")

        p Registrieren Sie sich einfach und nutzen Sie den Sentinel noch heute!




