//- eventscreenerframe structure
#eventscreenerframe.no-result
    #eventscreener-filter-row
        include filtersection.pug
    #eventscreener-details-row
        include ../eventtradedetailsmodule/eventtradedetails.pug
    #eventscreener-result-row
        #eventscreener-result-hint
            p Mit diesen Einstellungen sind keine Resultate verfügbar.<br>Bitte wählen Sie die Symbole und Ereignisse, die Sie untersuchen wollen, oder ändern Sie die Filtereinstellungen.
        #eventscreener-result-preloader
            +preloader("spinner.1", "spinner-1")
        table#eventscreener-result