include ../preloader/preloader-mixins.pug

#filter-head-row 
    #filter-event-choice-head 
        h2 Ereignisse
        #add-event-button.click-button
            svg: use(href="#svg-plus-icon")
            label hinzufügen

    #filter-symbol-choice-head
        #symbol-select-eventscreener
            +preloader("circles", "circles")

        #choose-all-symbols-button.click-button Alle Symbole

#filter-content-row 
    #eventchoice
        table#event-choice-table
            thead
                th: input#choose-event-input(type="checkbox" checked)    
                th
                th: #range-nr-head 
                    label(for="range-nr-input") # Ereignisse
                    .edit-group
                        input#range-nr-input.nr-range(type="text" placesholder="X")
                        svg: use(href="#svg-edit-icon")
                
                th: #range-date-head 
                    label(for="range-date-input") Ereignisse ab
                    input#range-date-input(type="date") 

            tbody#event-choice-content
                template#event-choice-row-template: tr(data-id="i")
                    td: input.choose(type="checkbox" checked)    
                    td: .label(data-name="c")
                    td: .edit-group
                        input.nr-range(type="text" data-range-nr="c" )
                        svg: use(href="#svg-edit-icon")
                    td: input.date-range(data-range-date="c" type="date")

    #filtersymbolchoice
        #symbol-choice-list
            template#symbol-choice-row-template: .row
                .label(data-symbol="c")
                .company(data-name="c")
                .delete.click-button(data-symbol="i"): svg: use(href="#svg-cross-icon")

#filter-properties-row 
    include resultfilters.pug