#left-properties
    #winrate-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Trefferquote ab:
        //- input.prop-value(type="text")
        input.prop-value(type="text" maxLength="4")
        .prop-unit %
    #profit-avg-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Profit (Dur.) ab:
        input.prop-value(type="text")
        .prop-unit %
    #profit-med-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Profit (Med.) ab:
        input.prop-value(type="text")
        .prop-unit %

#center-properties 
    #long-only-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Ausschließlich Long-Trades
    #short-only-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Ausschließlich Short-Trades

#right-properties
    #min-max-rise-filter.filter-element.for-long
        input.prop-active(type="checkbox")
        .prop-title Max Anstieg ab:
        input.prop-value(type="text")
        .prop-unit %
    #max-max-drop-filter.filter-element.for-long
        input.prop-active(type="checkbox")
        .prop-title Max Rückgang bis:
        input.prop-value(type="text")
        .prop-unit %
    #min-max-drop-filter.filter-element.for-short
        input.prop-active(type="checkbox")
        .prop-title Max Rückgang ab:
        input.prop-value(type="text")
        .prop-unit %
    #max-max-rise-filter.filter-element.for-short
        input.prop-active(type="checkbox")
        .prop-title Max Anstieg bis:
        input.prop-value(type="text")
        .prop-unit %
