#left-properties
    #winrate-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Trefferquote ab:
        //- input.prop-value(type="text")
        .edit-group
            input.prop-value(type="text" maxLength="4")
            .prop-unit %
            svg: use(href="#svg-edit-icon")
    #profit-avg-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Profit Dur. ab:
        .edit-group
            input.prop-value(type="text")
            .prop-unit %
            svg: use(href="#svg-edit-icon")
    #profit-med-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Profit Med. ab:
        .edit-group
            input.prop-value(type="text")
            .prop-unit %
            svg: use(href="#svg-edit-icon")

    #max-duration-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Tage im Trade bis:
        .edit-group
            input.prop-value(type="text")
            .prop-unit d
            svg: use(href="#svg-edit-icon")

    #min-duration-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Tage im Trade ab: 
        .edit-group
            input.prop-value(type="text")
            .prop-unit d
            svg: use(href="#svg-edit-icon")

#center-properties 
    #long-only-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Ausschließlich Long-Trades
    #short-only-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Ausschließlich Short-Trades

    #min-max-rise-filter.filter-element.for-long
        input.prop-active(type="checkbox")
        .prop-title Max Anstieg ab:
        .edit-group
            input.prop-value(type="text")
            .prop-unit %
            svg: use(href="#svg-edit-icon")
            
    #max-max-drop-filter.filter-element.for-long
        input.prop-active(type="checkbox")
        .prop-title Max Rückgang bis:
        .edit-group
            input.prop-value(type="text")
            .prop-unit %
            svg: use(href="#svg-edit-icon")

    #min-max-drop-filter.filter-element.for-short
        input.prop-active(type="checkbox")
        .prop-title Max Rückgang ab:
        .edit-group
            input.prop-value(type="text")
            .prop-unit %
            svg: use(href="#svg-edit-icon")
    #max-max-rise-filter.filter-element.for-short
        input.prop-active(type="checkbox")
        .prop-title Max Anstieg bis:
        .edit-group
            input.prop-value(type="text")
            .prop-unit %
            svg: use(href="#svg-edit-icon")


#right-properties
    #ignore-holiday-conflicts-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Ein-und Ausstiege auf Feiertage ignorieren

    #prepone-holiday-entry-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Einstieg auf Feiertag vorverlegen

    #postpone-holiday-entry-filter.filter-element
        input.prop-active(type="checkbox")
        .prop-title Einstieg auf Feiertag nachverlegen

    #prepone-holiday-exit-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Ausstieg auf Feiertag vorverlegen

    #postpone-holiday-exit-filter.filter-element 
        input.prop-active(type="checkbox")
        .prop-title Austtieg auf Feiertag nachverlegen
