// Here we want to manage all the states that lead to visibility of certain elements
// Every conditionally visible element is set to `display: none` in their place
// Here the conditions under which they become visible is being managed

//==================================================================
#eventscreener-details-row
    display none

#eventscreenerframe.no-result
    #eventscreener-result-hint
        display block

#eventscreenerframe.processing
    #eventscreener-result-preloader
        display block

#eventscreenerframe.result
    #eventscreener-result
        display block    
    #eventscreener-adjustment-warning
        display block

#eventscreenerframe.details
    #eventscreener-details-row
        display block
    #eventscreener-filter-row
        display none
    #eventscreener-screen-button
        display none
