//- summaryframe structure
#summaryframe
    #economic-areas
        #eurozone.economic-area
            .top
                .flag: svg: use(href="#svg-europe-icon")
                .title Eurozone
            .inflation-rate
                p.label Inflation: 
                p.value N/A
            .refinancing-rate
                p.label Leitzins: 
                p.value N/A
            .gdp-growth
                p.label GDP Wachstum: 
                p.value N/A
        #usa.economic-area
            .top
                .flag: svg: use(href="#svg-usa-icon")
                .title USA
            .inflation-rate
                p.label Inflation: 
                p.value N/A
            .refinancing-rate
                p.label Leitzins:
                p.value N/A
            .gdp-growth
                p.label GDP Wachstum: 
                p.value N/A
        #japan.economic-area
            .top
                .flag: svg: use(href="#svg-japan-icon")
                .title Japan
            .inflation-rate
                p.label Inflation: 
                p.value N/A
            .refinancing-rate
                p.label Leitzins: 
                p.value N/A
            .gdp-growth
                p.label GDP Wachstum: 
                p.value N/A
        #switzerland.economic-area
            .top
                .flag: svg: use(href="#svg-switzerland-icon")
                .title Schweiz
            .inflation-rate
                p.label Inflation: 
                p.value N/A
            .refinancing-rate
                p.label Leitzins: 
                p.value N/A
            .gdp-growth
                p.label GDP Wachstum: 
                p.value N/A
        #canada.economic-area
            .top
                .flag: svg: use(href="#svg-canada-icon")
                .title Kanada
            .inflation-rate
                p.label Inflation: 
                p.value N/A
            .refinancing-rate
                p.label Leitzins: 
                p.value N/A
            .gdp-growth
                p.label GDP Wachstum: 
                p.value N/A
        #australia.economic-area
            .top
                .flag: svg: use(href="#svg-australia-icon")
                .title Australien
            .inflation-rate
                p.label Inflation: 
                p.value N/A
            .refinancing-rate
                p.label Leitzins: 
                p.value N/A
            .gdp-growth
                p.label GDP Wachstum: 
                p.value N/A
        #newzealand.economic-area
            .top
                .flag: svg: use(href="#svg-newzealand-icon")
                .title Neuseeland
            .inflation-rate
                p.label Inflation: 
                p.value N/A
            .refinancing-rate
                p.label Leitzins:
                p.value N/A
            .gdp-growth
                p.label GDP Wachstum:  
                p.value N/A
        #uk.economic-area
            .top
                .flag: svg: use(href="#svg-uk-icon")
                .title Großbritannien
            .inflation-rate
                p.label Inflation: 
                p.value N/A
            .refinancing-rate
                p.label Leitzins: 
                p.value N/A
            .gdp-growth
                p.label GDP Wachstum: 
                p.value N/A
