include ../svgiconsmodule/svgicons.pug
include ../economicareamodule/templates.pug

header: include ../headermodule/header.pug
main
    include ../sidenavmodule/sidenav.pug
    include ../contentmodule/content.pug
//- footer: #footer
