include ../svgiconsmodule/svgicons.pug
include ../economicareamodule/templates.pug
include ../currencytrendframemodule/templates.pug

header: include ../headermodule/header.pug
main
    include ../noaccountmodule/noaccountframe.pug
    include ../sidenavmodule/sidenav.pug
    include ../contentmodule/content.pug
//- footer: #footer
