//- sidenav structure
nav#sidenav.summary
    button#summary-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-flags-collection")
        //- .nav-lbl Alle Basisdaten
        .nav-lbl Makrodaten
    button#currencytrend-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-trendup-icon")
        .nav-lbl Forex Trends
    button#seasonality-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-seasonality-icon")
        .nav-lbl Saisonalität
    button#account-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-account-icon")
        .nav-lbl Account