//- sidenav structure
nav#sidenav.summary
    button#summary-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-flags-collection")
        //- .nav-lbl Alle Basisdaten
        .nav-lbl Makrodaten
    button#currencytrend-btn.nav-btn.click-button
        //- .nav-icn: svg: use(href="#svg-trendup-icon")
        .nav-icn: img(src="/img/forex-trends.webp")
        .nav-lbl Forex Trends
    button#seasonality-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-seasonality-icon")
        .nav-lbl Saisonalität
    button#eventscreener-btn.nav-btn.click-button
        //- .nav-icn: svg: use(href="#svg-eventscreener-icon")
        .nav-icn: img(src="/img/event-screener.webp")
        .nav-lbl Event Screener
    button#forexscreener-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-forexscreener-icon")
        .nav-lbl Forex Screener
    button#trafficlight-btn.nav-btn.click-button
        //- .nav-icn: svg: use(href="#svg-trafficlight-icon")
        .nav-icn: img(src="/img/trafficlight.webp")
        .nav-lbl Börsen Ampel
        span#tl-nav-indicator
    button#account-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-account-icon")
        .nav-lbl Account