//- sidenav structure
nav#sidenav.summary
    button#summary-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-flags-collection")
        .nav-lbl Alle Basisdaten
    button#currencytrend-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-trendup-icon")
        .nav-lbl Forex Trends
    button#account-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-account-icon")
        .nav-lbl Account