//- sidenav structure
nav#sidenav.summary
    button#summary-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-placeholder-icon")
        .nav-lbl Alle Basisdaten
    button#currencytrend-btn.nav-btn.click-button
        .nav-icn: svg: use(href="#svg-placeholder-icon")
        .nav-lbl Forex Trends