// sidenav styles
#sidenav.hidden
    display none

#sidenav.summary
    #summary-btn
        background-color #dde

#sidenav.currencytrend
    #currencytrend-btn
        background-color #dde

#sidenav.seasonality
    #seasonality-btn
        background-color #dde

#sidenav.eventscreener
    #eventscreener-btn
        background-color #dde

#sidenav.forexscreener
    #forexscreener-btn
        background-color #dde

#sidenav.optionscreener
    #optionscreener-btn
        background-color #dde

#sidenav.trafficlight
    #trafficlight-btn
        background-color #dde

#sidenav.account
    #account-btn
        background-color #dde

#sidenav.folded
    transform: translateX(-100%)
    #show-button
        display block
    #hide-button
        display none

#sidenav
    position fixed
    top 0
    left 0
    padding (mobile-header-height + 25px) 5px 20px 5px // top-paddingh of 122 is centerd with control button
    box-sizing: border-box
    
    width side-nav-width
    height 100vh
    z-index 2

    box-shadow: 0 0 7px #777
    transition: transform 0.3s
    transform translateX(0)
    background-color #fff

    .nav-btn
        display flex
        margin-bottom 10px
        gap 10px
        padding 5px 15px
        border-radius: 3px
        width 100%
        box-sizing: border-box

    .nav-icn
        width 30px
        height 30px
        border-radius 7px
        overflow: hidden
        img
            width inherit
            height inherit
    .nav-lbl
        line-height 30px
        font-size: 12pt

    #show-button
        display none
    #hide-button
        display block
    #sidenav-controls
        position: absolute
        top mobile-header-height
        z-index 3
        right -27px
        border-radius: 0 50% 50% 0
        padding 10px 0
        background-color #fff
        box-shadow: 3px 0 3px #aaa // #777
        cursor pointer
        button
            pointer-events: none

@media desktopscreen
    #sidenav
        padding (header-height + 20px)  5px 20px 5px
        #sidenav-controls
            display none
    #sidenav.folded
         transform: translateX(0) !important
