// sidenav styles
#sidenav.hidden
    display none

#sidenav.summary
    #summary-btn
        background-color #dde

#sidenav.currencytrend
    #currencytrend-btn
        background-color #dde

#sidenav.seasonality
    #seasonality-btn
        background-color #dde

#sidenav.account
    #account-btn
        background-color #dde

#sidenav
    position fixed
    top 0
    left 0
    padding 135px 5px 20px 5px
    box-sizing: border-box
    
    width side-nav-width
    height 100vh
    z-index 2

    box-shadow: 0 0 7px #777

    .nav-btn
        display flex
        margin-bottom 10px
        gap 10px
        padding 5px 15px
        border-radius: 3px
        width 100%
        box-sizing: border-box

    .nav-icn
        width 30px
        height 30px
        border-radius 7px
        overflow: hidden
            
    .nav-lbl
        line-height 30px
        font-size: 12pt


