// sidenav styles
#sidenav.hidden
    display none

#sidenav.summary
    #summary-btn
        background-color #dde

#sidenav.currencytrend
    #currencytrend-btn
        background-color #dde

#sidenav.seasonality
    #seasonality-btn
        background-color #dde

#sidenav.eventscreener
    #eventscreener-btn
        background-color #dde

#sidenav.forexscreener
    #forexscreener-btn
        background-color #dde

#sidenav.optionscreener
    #optionscreener-btn
        background-color #dde

#sidenav.sectorrotation
    #sectorrotation-btn
        background-color #dde

#sidenav.trafficlight
    #trafficlight-btn
        background-color #dde

#sidenav.partners
    #partners-btn
        background-color #dde

#sidenav.account
    #account-btn
        background-color #dde

#sidenav.folded
    transform: translateX(-100%)
    #show-button
        display block
    #hide-button
        display none

#sidenav
    display flex
    flex-direction: column
    position fixed
    top 0
    left 0
    padding (mobile-header-height + 25px) 5px 20px 5px // top-paddingh of 122 is centerd with control button
    box-sizing: border-box
    overflow-y auto
    overflow-x hidden

    width side-nav-width
    height 100vh
    z-index 2

    box-shadow: 0 0 7px #777
    transition: transform 0.3s
    transform translateX(0)
    background-color #fff

    .nav-btn
        flex  0 0  auto
        display flex
        margin-bottom 10px
        gap 10px
        padding 5px 15px
        border-radius: 3px
        width 100%
        box-sizing: border-box

    .nav-icn
        width 30px
        height 30px
        border-radius 7px
        overflow: hidden
        img
            width inherit
            height inherit
    .nav-lbl
        line-height 30px
        font-size: 12pt

    #show-button
        display none
    #hide-button
        display block
    #sidenav-controls
        position: absolute
        top mobile-header-height
        z-index 3
        right -27px
        border-radius: 0 50% 50% 0
        padding 10px 0
        background-color #fff
        box-shadow: 3px 0 3px #aaa // #777
        cursor pointer
        button
            pointer-events: none

    #access-limited-display
        margin-top auto
        background-color transparent

    #access-limited-info
        // color cd-down-red
        background-color alpha(cd-error-red, 0.2)
        // background-color rgba(255, 100, 100, 0.15)
        // color cd-dark-blue
        // border-color: cd-down-red
        color cd-error-red

    #access-limited-from-info
        background-color alpha(cd-flash-orange, 0.1)
        // background-color rgba(255, 165, 0, 0.15)
        color cd-flash-orange
        
    #access-limited-info
    #access-limited-from-info
        display none
        padding 10px
        font-size: 9pt
        border-left 2px solid
        border-right 2px solid
        border-radius 3px
        p
            margin-bottom 10px
            text-align: left

        #access-limited-from
            font-size: 12pt
            font-weight: bold
            text-align: center
            // text-decoration: underline
            margin-bottom 10px

        #access-limited-from::after
            content: "Uhr"
            padding-left 3px


    #access-limited-display.limited
        #access-limited-info
            display block

    #access-limited-display.limited-from
        #access-limited-from-info
            display block

@media desktopscreen
    #sidenav
        padding (header-height + 20px)  5px 20px 5px
        #sidenav-controls
            display none
    #sidenav.folded
         transform: translateX(0) !important
