//- trafficlightframe structure
#trafficlightframe
    #tl-chart-row
        #tl-chart-container
            #trafficlight-chart
        #tl-side-container
            .tl-bulb
            .tl-state-text.for-green
                h3 Entspannt
                p The Märkte signalisieren Stärke.
            .tl-state-text.for-yellow
                h3 Vorsicht
                p Die Märkte könnten geschwächt werden.
            .tl-state-text.for-red
                h3 Gefahr
                p Die Märkte signalisieren Schwäche.
            .tl-state-text.for-blue
                h3 Vorsicht
                p Die Märkte sind sich am erholen.
