//- header structure
#header
    //- #header-logo: svg: use(href="#svg-sentinel-icon")
    #header-logo: img(src="/img/logo_new.webp")
    h1 Sentinel Dashboard 
        span#current-version v0.0.0
    #beta-banner
        h2 <b>Achtung!</b> Dies ist eine <b>Beta-Testversion.</b>
        p Falls Sie Fehler entdecken, Anregungen oder Wünsche haben, lassen Sie uns diese gerne unter 
            a(href="mailto:kontakt@ewag-handelssysteme.de") kontakt@ewag-handelssysteme.de
            |  zukommen.
    button#logout-button.click-button
        svg: use(href="#svg-off-icon")
        //- span Logout
        