//- header structure
#header
    //- #header-logo: svg: use(href="#svg-sentinel-icon")
    #header-logo: img(src="/img/logo_new.webp")
    h1 Sentinel Dashboard
        span#current-version v0.0.0
    #beta-banner Beta Testversion
    button#logout-button.click-button
        svg: use(href="#svg-off-icon")
        //- span Logout
        