// header styles
#header
    background-color cd-dark-blue
    color #fff
    padding 15px 0 15px 15px
    width 100%
    box-sizing: border-box
    position fixed
    z-index 3

    display flex
    justify-content: flex-start
    align-items: center
    gap 15px

    h1
        font-size 18pt
        line-height: 45px
        span
            font-size 14pt

#header-logo
    width: 45px
    height 45px
    color cd-light-blue
    svg
        width inherit
        height inherit

#beta-banner
    background-color rgba(255, 165, 0, 0.15)
    color #ffa500
    border-left 3px solid #ffa500
    border-radius: 3px
    padding 5px 10px
    text-align: left
    max-width 500px
    h2
        font-size: 12pt
        margin-bottom 3px
    p
        font-size 11pt

    a
        color #fff
        font-size 11pt
        text-decoration none
        &:hover
            text-decoration underline

#logout-button
    display none
    margin-left auto
    margin-right 15px
    svg
        color #c21
        vertical-align: middle
        width 33px
        height 33px
    span
        color white
        vertical-align: middle
        line-height: 36px
        font-size 16pt
        margin-left 5px

.logged-in
    #logout-button
        display block

@media desktopscreen
    #header-logo
        width: 60px
        height 60px
        img
            height inherit
            width inherit
            
    #logout-button
        svg
            width 42px
            height 42px


    #header
        padding 20px
        gap 20px

        h1
            font-size 25pt
            line-height: 60px

    #beta-banner
        font-size 13pt
        padding 6px 16px
