// globalstyles styles

/*==========================================================
Color Theme
==========================================================*/
cd-foreground = black
cd-flash = purple
cd-background = white
cd-info = #517891
cd-dark-blue = #113
cd-button-dark = #113

/*==========================================================
Global Variables
==========================================================*/
// max-content-width = 900px
// mobile-side-padding = 15px

side-nav-width = 250px
header-height = 110px

/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color cd-background
    color cd-foreground
    font-family: Arial, Helvetica, sans-serif
    text-align: center
    font-size: 12pt
    width 100%

h1
    font-size: 21pt
h2
    font-size: 15pt
h3
    font-size: 14pt
p
    font-size: 12pt

svg
    width inherit
    height inherit


.hidden-templates
    display none