//- currencytrendframe structure
#currencytrendframe
    #short-term-col
        h2.score-list-head Kurzfristig
        .score-list

    #medium-long-term-col
        h2.score-list-head Mittel-Langfristig
        .score-list

    #long-term-col
        h2.score-list-head Langfristig
        .score-list