//- currencytrendframe structure
#currencytrendframe
    #forextrends-heading 
        #forextrends-warning.warning
            h3 <b>Achtung!</b> Es handelt sich hier um ein <b>Experimentelles Punktevergabesystem</b>.
            p Es verkörpert eine Bewertung von potentiellen Tendenzen und kann nicht als zuverläßiges Signal interpretiert werden. 
            p Es wird kontinuierlich weiterentwickelt sowohl anhand von Erfahrungwerten von Experten, als auch durch technische Datenanalyse.
    #forextrends-list
        #short-term-col
            h2.score-list-head Kurzfristig 1 - 3 Monate 
            .score-list

        #medium-long-term-col
            h2.score-list-head Mittelfristig 3 - 6 Monate
            .score-list

        #long-term-col
            h2.score-list-head Langfristig 6 - 12 Monate
            .score-list