.hidden-templates
    #currency-pair-template 
        .currency-pair
            .left
                .inner-frame
                    .title {{{short}}}
                    .score {{{score}}}
            .right
                b.trend-text {{{rightText}}}
            //- .right 
            //-     .click-button.info-button: svg: use(href="#svg-info-icon")

            //- .info-display 
            //-     .info-header
            //-         svg.info-icon: use(href="#svg-info-icon")
            //-         .click-button.close-button: svg: use(href="#svg-cross-icon")
            //-     .info-title Spezial Info
            //-     .info-description Noch undefinierte Spezialinformation.