#backtesting-details-container
    table#backtesting-details-table
    p.warning Wir haben größere Veränderungen in den Daten gefunden. Die Betroffenen Jahre sind rot hinterlegt und wurden für alle weiteren Berechnungen exkludiert. Diese aussergewöhnlich großen Veränderungen können durch ein Fehler in den Daten, oder ein einmaliges Ereignes enstanden sein, wodurch sie somit nicht als hilfreich für die Saisonalitätsanalyse erachtet wurden.