#backtesting-summary-tab
    #backtesting-connector

    #backtesting-trade-description [12.01. - 24.01] Long

    //- trefferquote
    #backtesting-winning-rate 
        #win-rate-number 99%
        #win-rate-pie
    
    #backtesting-summary 
        #max-rise 
            .label Maximaler Anstieg
            .value 123%
        #max-drop
            .label Maximaler Abstieg
            .value 20%
        #average-change 
            .label Durchnittlicher Profit
            .value 40%
        #median-change
            .label Medianer Profit
            .value 30%
        #days-in-trade
            .label Tage im Trade
            .value 12 Tage

        
        