#backtesting-summary-tab
    #backtesting-connector

    h2
        span#backtesting-direction Long 
        span#backtesting-timeframe [12.01. - 24.01] 
    
    #backtesting-summary 
        #win-rate
            h3.label Trefferquote
            .value: #backtesting-winning-rate 
                #win-rate-number 99%
                #win-rate-pie: include pie-chart.pug

        #backtesting-summary-grid
            #max-rise
                h3.label Maximaler Anstieg
                .value 123%
            #max-drop
                h3.label Maximaler Abstieg
                .value 20%
            #average-change 
                h3.label Durchnittlicher Profit
                .value 40%
            #median-change
                h3.label Medianer Profit
                .value 30%
            #days-in-trade
                h3.label Tage im Trade
                .value 12 Tage

        
        