#chart-components-tab 

    .legend-series.visible(series-index="2" style="--color: #faba01")
        .icon: svg: use(href="#svg-chartline-icon")
        .description Jüngste Kursdynamik
        .visibility

    h2 Saisonalitätsaggregation <span id="aggregation-years-indicator">5</span>J

    .legend-series.visible(series-index="1" style="--color: #fff")
        .icon: svg: use(href="#svg-chartline-icon")
        .description Average Daily Return
        .visibility

    .legend-series.experimental(series-index="2" style="--color: #aba")
        .icon: svg: use(href="#svg-chartline-icon")
        .description Fourier Regression 
        .visibility

