#chart-instructions
    h2 Willkommen in der Saisonalitätanalyse
    p Hier eine kurze Einleitung: 
    ul
        li Suchen Sie nach einer für Sie interessanten Aktie.
        li Wählen Sie den gewünschten Zeitbereich der Saisonalitätsaggregation.
        li Der Chart visualisiert den relativen Verlauf im Zeitbereich eines Jahres. 
        li Klicken Sie auf die Zeitachse unterhalb des Charts, um den Chart zeitlich zu verschieben.
        li Um ein vollständiges Bild zu kriegen können Sie sich im Zeitraum der jüngsten 2 Jahren bewegen.
        li Wählen sie per Mausklick einen interessanten Bereich aus, um die Backtestingfunktion zu starten.
        li Die Backtestingfunktion analysiert, wie sich dieser saisonale Trade über den gewählten Zeitraum geschlagen hätte.
        li.warning Bitte beachten Sie, dass keine Analyse eine Garantie für den erwünschten Erfolg bieten kann.
    p Wir wünschen Ihnen viel Erfolg!