svg(height="4" width="4" viewBox="0 0 4 4")
    circle(r="2" cx="2" cy="2" fill="var(--color-profit)")
    //- circle(r="1" cx="2" cy="2" fill="transparent" stroke="var(--color-loss)" stroke-width="2" transform="rotate(-90) translate(-4)" stroke-dasharray="calc(35 * 6.294 / 100) 6.294")
    circle#loss-circle(r="1" cx="2" cy="2" fill="transparent" stroke="var(--color-loss)" stroke-width="2" transform="rotate(-90) translate(-4)")
