//- seasonalityframe structure
#seasonalityframe.chart-inactive
    #selection-row
        #symbol-select-seasonality
        .select-wrapper: select#timeframe-select
            option(value="5" selected) 5 Jahre
            
        #selected-symbol
        button#close-chart-button.click-button: svg: use(href="#svg-cross-icon")

    #chart-row
        #chart-container
            include chart-instructions.pug
            #seasonality-chart
            #cursor-indicator
                svg: use(href="#svg-cursor-icon")
                span.location 12.01.2026
            #reset-time-axis-button.click-button: svg: use(href="#svg-doubleright-icon")
        #chart-side-container
            #components-backtesting-tabs
                button#backtesting-button.click-button Backtesting         
                button#components-button.click-button Chart
            #tab-content-container 
                include chart-components.pug
                include backtesting-summary.pug

    #backtesting-details-row
        include backtesting-details.pug

    