//- seasonalityframe structure
#seasonalityframe
    #selection-row


        .combobox-wrapper#symbol-combobox
            input#symbol-input(type="text" placeholder="Symbol suchen..." autocomplete="off")
            .combobox-dropdown#symbol-dropdown

        .select-wrapper: select#timeframe-select
            option(value="5") 5 Jahre
            option(value="10" selected) 10 Jahre
            option(value="15") 15 Jahre
            option(value="20") 20 Jahre
            option(value="25") 25 Jahre
            option(value="30") 30 Jahre

        .select-wrapper: select#method-select
            option(value="0") Average Daily Return
            option(value="1") Harmonic Regression (Fourier)
            //- option(value="2") Averaged Harmonic Regression (Fourier)

    #chart-container 
        #seasonality-chart