// seasonalityframe styles
@import "instructions.styl"
@import "visibility.styl"

#seasonalityframe
    width 100%
    height "calc(100vh - %s)" % header-height
    overflow-y auto
    scrollbar-gutter stable
    padding 20px 10px 20px 20px
    box-sizing: border-box
    
#selection-row
    display: flex
    justify-content: flex-end
    align-items: center
    gap 10px

    .select-wrapper
        display block
        position relative

    .select-wrapper::after
        content ""
        display block
        position absolute
        top 50%
        right 9px
        z-index 200
        width 12px
        height 8px
        transform translateY(-4px)
        background-color cd-dark-blue
        clip-path polygon(100% 0%, 0 0%, 50% 100%)


    select
        z-index 1
        padding: 10px
        padding-right 25px
        border-radius: 3px
        border solid 1px cd-dark-blue
        font-size 12pt
        background: #fff
        cursor: pointer
        transition: box-shadow 0.2s
        appearance none

    select:focus
        outline: none
        box-shadow: 0 0 3px 0 cd-dark-blue
        border solid 1px cd-dark-blue

    #selected-symbol-display
        margin-left auto
        margin-right 20px
        font-size: 16pt
        font-weight: bold
        line-height 40px

#close-chart-button
    display none
    height 30px
    width 30px
    border-radius 10px
    svg
        color cd-dark-blue
        height inherit
        width inherit

#close-chart-button.click-button::after
    background-color #000

#chart-row
    margin-top 20px
    display flex
    gap 5px

#chart-container
    position relative
    background-color cd-dark-blue
    // background-color #999
    width 100%
    box-sizing: border-box
    // padding 15px
    height 500px
    // color white
    border-radius: 3px

    .preloader
        display none
        height 150px
        width 150px
        color white
        position absolute
        top 50%
        left 50%
        transform: translate(-50%, -50%)


#chart-side-container
    position relative
    // background-color cd-dark-blue
    // background-color #999
    width 30%
    box-sizing: border-box
    // padding 15px
    height 500px
    // color white
    border-radius: 3px
    opacity 0.5

#components-backtesting-tabs
    background-color cd-dark-blue
    border-radius: 3px 3px 0 0
    height 50px
    display flex
    button
        width 50%
        display none
        background-color #ddd
        transition: background-color 0.3s
        color #fff
        font-size 12pt
        padding 15px
        border-radius: 3px 3px 0 0
        box-sizing: border-box
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        cursor pointer
        
#tab-content-container
    height 450px
    background-color cd-dark-blue
    border-radius: 0 0 3px 3px
    padding 10px 0
    box-sizing: border-box

.backtesting
    #backtesting-button
        background-color cd-dark-blue
        width 100%
    #chart-side-container
        opacity: 1.0
    #tab-content-container
        border-radius: 0 3px 3px 3px
    #components-backtesting-tabs
        background-color transparent


.analysing
    #components-button
        background-color cd-dark-blue
        width 100%
    #chart-side-container
        opacity 1.0
    #tab-content-container
        border-radius: 3px 0 3px 3px
    #components-backtesting-tabs
        background-color transparent
