@import "uplot.min.css"


.u-legend
    display none

.u-select 
    background: alpha(#fff, 0.1)
    border-left: 1px solid #fe7
    border-right: 1px solid #fe7

// .u-cursor-y
//     display none

.u-axis.movable
    cursor: move
    cursor: -webkit-grab
    cursor: -moz-grab
    cursor: grab
    // border solid 2px #fff
    border-top solid 1px #fff
    // border-bottom solid 1px #fff
