// seasonalityframe styles
@import "uplot-chart.styl"

#tradedetails-chart
    position absolute
    top 50%
    left 50%
    height 90px
    width 200px
    transform: translate(-50%, -50%)
    overflow: visible

#tradedetails-chart-centerline
    position absolute
    top 50%
    left 50%
    height 100px
    width 1px
    transform: translate(-50%, -50%)
    background-color #fa6501
    pointer-events none

