@import "uplot.min.css"

#tradedetails-chart
    .u-legend
        display none

    .u-select 
        background: alpha(#fff, 0.1)
        border-left: 1px solid #fe7
        border-right: 1px solid #fe7

    // .u-cursor-y
    //     display none